p {
    background-color: #ffc0cb;
    font-size: 24px;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.number3 {
    font-size: 26px;
}

div {
    font-weight: bold;
    font-size: 24px;
}

.number2 {
    color: #0000ff;
    font-size: 36px;
}

.number4 {
    background-color: #90ee90;
    font-weight: bold;
}