.but {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, sans-serif;
}

.click {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.no {
    background-color: hsl(61, 100%, 50%);
    
}